@import "tailwindcss";


@theme {
  --color-primary: #645cff;
  --color-primary-dark: #282566;
  --color-primary-light: #a29dff;
  --color-grey-1: #102a42;
  --color-grey-5: #617d98;
  --colorr-grey-10: #f1f5f8;
  --color-white: #fff;
  --color-red-dark: hsl(360, 67%, 44%);
  --colorclr-red-light: hsl(360, 71%, 66%);
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
}

